# Base de datos
*.db
*.sqlite3

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
venv/
ENV/
env/

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log
